<table>
  {{#each serializedBoard as |row| }}
  <tr>
    {{#each row as |cell|}}
      <td class={{concat 'cell-' cell}}>
        <div class='content'>{{cell}}</div>
      </td>
    {{/each}}
  </tr>
  {{/each}}
</table>