html, body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #776e65;
}

.board-container {
  display: block;
  width: 500px;
  height: 500px;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-radius: 10em;
}

td {
  border-collapse: collapse;
  border: .2rem solid rgb(187, 173, 160);
  width: 25%;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .content {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 1em;

  text-align: center;
  vertical-align: middle;

  top: 50%;
  left: 50%;

  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 55px;
  font-weight: 700;
}

table tr td:first-child {
  border-left: .2rem solid rgb(187, 173, 160);
}

table tr:first-child td {
  border-top: .2rem solid rgb(187, 173, 160);
}

table tr td {
  border-left: 0;
}

table tr td {
  border-top: 0;
}

.cell-2 {
  background-color: #eee4da;
}

.cell-4 {
  background-color: #faf8ef
}

.cell-0 {
  background-color: #776e65;
}

.cell-8 {
  background-color:#f2b179;
  color: rgb(249, 246, 242);
}

.cell-16 {
  background-color: #f59563;
  color: rgb(249, 246, 242);
}

.cell-32 {
  color: rgb(249, 246, 242);
  background-color: #f67c5f;
}
