html, body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #776e65;
}

.board-container {
  display: block;
  width: 500px;
  height: 500px;
}

.score-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.score-container:after {
  content: "Score";
}
.score-container:after, .best-container:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-radius: 10em;
}

td {
  border-collapse: collapse;
  border: .2rem solid rgb(187, 173, 160);
  width: 25%;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .content {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 1em;

  text-align: center;
  vertical-align: middle;

  top: 50%;
  left: 50%;

  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 55px;
  font-weight: 700;
}

table tr td:first-child {
  border-left: .2rem solid rgb(187, 173, 160);
}

table tr:first-child td {
  border-top: .2rem solid rgb(187, 173, 160);
}

table tr td {
  border-left: 0;
  border-top: 0;
}

@keyframes bounce {
  to { transform: scale(1.4); }
}

.cell-2 {
  background-color: #eee4da;
}

.cell-4 {
  background-color: #faf8ef
}

.cell-0 {
  background-color: #776e65;
}

.cell-8 {
  background-color:#f2b179;
  color: rgb(249, 246, 242);
}

.cell-16 {
  background-color: #f59563;
  color: rgb(249, 246, 242);
}

.cell-32 {
  color: rgb(249, 246, 242);
  background-color: #f67c5f;
}
